<h2>Log In</h2>

<%= form_for(:session, url: "/login") do |f| %>

  <div class="errors">
    <% if @errors %>
      <%= render 'layouts/errors' %>
    <% end %>
  </div>

  <div class="form-input">
    <%= f.label "Username: " %>
    <%= f.text_field :username %>
  </div>

  <div class="form-input">
    <%= f.label "Password: " %>
    <%= f.password_field :password %>
  </div>

  <div class="form-button">
    <%= f.submit "Log In" %>
  </div> 

  <% end %>