<%= form_for(@plot, url: plots_path, multipart: true) do |f| %>

  <div class="errors">
    <% if @errors %>
      <%= render 'layouts/errors' %>
    <% end %>
  </div>

  <%= f.hidden_field(:contributor_id,  value: current_user.id) %>
  <%= f.hidden_field(:plant_id, value: @plant.id) %>

  <div class="form-input">
    <%= f.label "Add plot to: " %>
    <%= f.collection_select :garden_id, current_user.planned_gardens.order(:name), :id, :name, include_blank: false %>
  </div> 

  <div class="form-button">
    <%= f.submit "Add" %>
  </div %>

<% end %>