<h1>Edit Profile</h1>

  <%= form_for(@user, multipart: true) do |f| %>

    <% if @errors %>
      <%= render 'layouts/errors' %>
    <% end %>

    <%= f.label "Username" %>
    <%= f.text_field :username %>

    <%= f.label "Bio" %>
    <%= f.text_area :bio %>

    <%= f.submit "Update" %>

  <% end %>