<h2>Register</h2>

<%= form_for(@user, multipart: true) do |f| %>

  <div class="errors">
    <% if @errors %>
      <%= render 'layouts/errors' %>
    <% end %>
  </div>

  <div class="form-input">
    <%= f.label "Username: " %>
    <%= f.text_field :username %>
  </div>

  <div class="form-input">
    <%= f.label "Password: " %>
    <%= f.password_field :password %> 
  </div>

  <div class="form-input">
    <%= f.label "Confirm Password: " %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="form-button">
    <%= f.submit "Submit" %>
  </div>

<% end %>