<h2><%= @garden.name %></h2>
<h3>Location: <%= @garden.location %></h3>

  <% if !@garden.plots.empty? %>
  <h3>Plots</h3>
    <ul>
      <% @garden.plots.each do |plot| %>
        <li><%= link_to plot.plant.name, plant_path(plot.plant) %></li>
      <% end %>
    </ul>
  <% else %>
    <p><%= @garden.name %> doesn't have any plots! Let's <%= link_to "browse some plants", plants_path %>.</p>
  <% end %>

  <h3><%= link_to "Add a Plot", new_garden_plot_path(@garden) %></h3>
  

  <h4>
    <%= link_to "Edit Garden", edit_garden_path(@garden) %>
     | <%= link_to "Delete Garden", garden_path(@garden), method: :delete, data: { confirm: "Are you sure?"} %>
  </h4>