<!DOCTYPE html>
<html>
  <head>
    <title>Grown</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Grown</h1>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Plants", plants_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Log Out", controller: "sessions", action: "destroy" %></li>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to "Public Gardens", gardens_path %></li>
        <% else %>
          <li><%= link_to "Log In", '/login' %></li>
          <li><%= link_to "Register", new_user_path %></li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
